#include <windows.h>
#include "test1.h"

MYMENU MENU DISCARDABLE
{
	POPUP "MENU"
	{
		MENUITEM "END", IDM_END
	}
	POPUP "PLOT"
	{
		MENUITEM "CREATE", IDM_CREATEPLOT
		MENUITEM "DESTROY", IDM_DESTROYPLOT
		MENUITEM SEPARATOR
		MENUITEM "SetParameter", IDM_SETPARAMETER
	}


	POPUP "Direct3D"
	{
		MENUITEM "Create(&C)", IDM_D3DCREATE
		MENUITEM "Destroy(&D)", IDM_D3DDESTROY
		MENUITEM SEPARATOR
		MENUITEM "ParameterDialog", IDM_D3DPARAMETERDLG 
	}


}

MYICON ICON DISCARDABLE "face.ico"


/*
PLOTMENU MENU DISCARDABLE
{
	POPUP "MENU"
	{
		MENUITEM "END", IDM_END
		MENUITEM "MINIMIZE", IDM_MINIMIZE
	}
}
*/
